:root{
	--cor_fundo:#F9F9F9;
	--cor_botao:#DE700D;
	--cor_letra:#0D0D0D;
	--avisos:#8C8C8C;
	--tamanho_letra:1.2vw #BFBFBF;
	--arredondamento:16px #F2F2F2;
	--borda:1px insert #F2F2F2;
	--letra:"Comic Sans", sans-serif;

}
*{
	margin:0px;
	padding:0px;
}
section{
	display: flex;
	justify-content: center;
}
section.topo{
	width: 100vw;
	height: 10vh;
	background-color:var(--cor_fundo);

} 
#logo{
	width: 10%;
	height:100%;
	} 
#logo img{
	max-width: 100%;
	max-height:100%;
	width: auto;
	height:auto;

}
#menu{
	width:80%;
	height:100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items:center;
}
ul.nav{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: 90%;
	height: 30%;
	display: flex;

}
ul.nav li{
	width: 13%;
	position: relative;
	margin-right: 6%;
	background-color: var(--cor_botao);
	border: var(--borda);
	cursor: pointer;
	color: var(--cor_letra);
	font-family: var(--letra);
	display: flex;
	align-items: center;
	justify-content: center;
}
ul.nav li a{
	text-decoration: none;
	display: block;
	color: var(--cor_letra);
}
ul.nav li ol{
	list-style-type: none;
	width: 100%;
	display: none;
	float: none;
	position: absolute;
	top: 100%;
	Left: 0;
	z-index: 1;

}
ul.nav li ol li {
	float: none;
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
	background-color: var(--);
}
ul.nav li ol li a {
	display: block;
	text-decoration: none;
	color: var(--letra);
}
section.home{
	width: 60vw;
	height:50vh;
	margin-top: 10vh;
	background-color: var(--cor_fundo);
	border:var(--borda);
	border-radius: var(--arredondamento);
	font-family: var(--letra);
	color: var(--cor_letra);
	flex-direction: column;
	align-items: center;
	margin-left: 20vw;

}
section.home img{
	max-width: 60%;
	max-height: 40%;
	width:auto;
	height: auto;
}
form{
	width:60vw;
	margin-left: 20vw;
	height: auto;
	margin-top:10vh;
	background-color: var(--cor_fundo);
	color:var(--cor_letra);
	font-family:var(---letra);
	border:var(--borda);
	border-radius:var(--arredondamento);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}
	h2{ 
	font-family: var(--letra);
	color: var(--avisos);
	text-align:center;
	font-size: 2vw; 

}
ul.nav li:hover ol{
	display: block;

}
#loader{
	position: fixed;
	top:50%;
	Left:50%;
	transform: transLate(-50%,-50%);
	z-index:1000;
	display:flex;
	align-content: center;
	justify-content: center;

}
#loader img{
	width: 100px;
	height: 100px;
}